/* ----- RESPONSIVIDADE! -----  */
/* Resoluções para RESPONSIVIDADE:  */
/* De 320px até 568px (Celular): Medida para celulares de baixa resolução. */
/* De 568px até 768px (Celular): Medida para celulares de alta resolução. */
/* De 768px até 998px (Tablet): Medida para Tablets. */
/* De 998px full: Medida para Notebook e Desktop. */

@media screen and (min-width: 768px){
    #container{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        color: var(--color-font-basic);
        background: #6a9bff;
        background: linear-gradient(347deg, rgba(106,155,255,1) 8%, rgba(39,79,184,1) 76%);
        padding: 64px 34px;
        gap: 1rem;
    }

    .align-link{
        display: flex;
        align-items: center;
        gap: 32px;
    }

}

@media screen and (max-width: 767px){
    #container{
        color: var(--color-font-basic);
        background: #6a9bff;
        background: linear-gradient(347deg, rgba(106,155,255,1) 8%, rgba(39,79,184,1) 76%);
        padding: 64px 34px;
    }

    .space{
        margin-bottom: 36px;
    }
}